<%= render 'layouts/errors' %>

<% action_url = blog.persisted? ? blog_url(blog) : blogs_url %>
<% http_method = blog.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <label>Name
    <input type="text" name="blog[name]" value="<%= blog.name %>" class="mytext">
  </label>
  <br><br>

  <label>URL
    <input type="text" name="blog[url]" value="<%= blog.url %>" class="mytext">
  </label>
  <br><br>

  <label>Tags</label>
  <input type="hidden" name="tag_ids[]" value="">
  <% Tag.all.each do |tag| %>
    <label>
      <input type="checkbox"
        name="tag_ids[]"
        value="<%= tag.id %>"
        <%= "checked" if tag_ids.include?(tag.id.to_s) %>>
      <%= tag.name %>
    </label>
  <% end %>
  <br><br>

  <input type="submit">
</form>
