<h1><%= @blog.name %></h1>
<h4><a href="<%= @blog.url %>"><%= @blog.url %></a></h4>

<h5>Genres</h5>
<ul>
  <% @blog.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<h5>Songs</h5>
<ul>
  <% @blog.songs.each do |song| %>
  <li><%= link_to song.name, song_url(song) %></li>
  <% end %>
</ul>

<h4>Links</h4>
<ul>
  <li><%= link_to "Add Song", new_blog_song_url(@blog) %></li>
  <li><%= link_to "Edit Blog", edit_blog_url(@blog) %></li>
  <li><%= link_to "Delete Blog", blog_url(@blog), method: :delete, class: 'btn' %></li>
  <li><%= link_to "All blogs", blogs_url %></li>
</ul>
