<% var userID = Listener.currentUser.id %>

<div class="tour-user-nav"></div>
<% if(Listener.currentUser.isSignedIn()) { %>

  <section class='user-info'>
    <a class='truncate' href="#users/<%= userID %>/feed">
      <img class ='img-tiny' src="<%= currentUser.get("nav_image_url") %>">
      <%= Listener.currentUser.escape("username") %>
    </a>
    <ul class="user-nav-dropdown">
      <% if (Listener.currentUser.escape('username') == 'thatpurplestuff') { %>
        <li><a href="#" id='create-user'>Create User</a></li>
      <% } %>
      <li><a href="#" id="add-song-link">Add Song</a></li>
      <li><a href="#" id="add-blog-link">Add Blog</a></li>
      <li><a href="#/users/<%= userID %>/feed">Feed</a></li>
      <li><a href="#/users/<%= userID %>/favorites">Favorites</a></li>
      <li>
        <a href="#/users/<%= userID %>/followed_blogs">Followed Blogs</a>
      </li>
      <% if (Listener.currentUser.escape('username') != 'guest') { %>
        <li><a href="#" class='edit'>Edit Profile</a></li>
      <% } %>
      <li><a href="#" id="sign-out-link">Sign Out</a></li>
    </ul>
  </section>

<% } else { %>

  <section class='group user-info signed-out'>
      <a id="sign-up-link" class="btn-sign js-modal-open">Sign Up</a>
      <a id="sign-in-link" class="btn-sign js-modal-open">Sign In</a>
  </section>

<% } %>
