<% var follows = Listener.currentUser.followedUsers() %>
<h2><%= user.escape("username") %></h2>
<br>
<h4><%= user.escape("email") %></h4>
<img class ='large-image' src="<%= user.get("image_url") %>" width="100" alt="">

<% if (!(Listener.currentUser.id == user.id)) { %>
  <button
    data-id= '<%= user.id %>'
    class="big-follow user-follow <%= _.contains(follows.pluck('id'), user.id) ? 'user-unfollow' : "" %>">
  </button>
<% } %>

<button class='btn-favorites'>Favorites</button>
<button class='btn-feed'>Feed</button>
<button class='btn-blogs'>Followed Blogs</button>

<h2 class='content-header'></h2>
<section id='displayed-content'></section>
