<p class='comment'><a class='underline-link blue' href="#/user/<%= comment.user_id %>"><strong><%= comment.escape('author_name') %>:</strong></a></p>
<p><%= comment.escape('body') %></p>

<% if (comment.get('author_id') == Listener.currentUser.id) { %>
  <button id='edit-comment' class="btn-comment" data-id='<%= comment.id %>'>Edit</button>
  <button id='delete-comment' class="btn-comment" data-id='<%= comment.id %>'>Delete</button>
  <% } %>
