<h2><%= @user.username %></h2>

<% if logged_in? && !(current_user.id == @user.id) %>
  <% if @user.followers.pluck(:id).include?(current_user.id) %>
    <%= button_to "Unfollow", user_follow_url(@user), method: 'delete' %>
  <% else %>
    <%= button_to "Follow", user_follows_url, params: {followed_user_id: @user.id} %>
  <% end %>
<% end %>

<br>
<div>Email: <%= @user.email %></div>
<br><br>
<h5>Favorite Songs</h5>
<ul>
  <% @user.favorite_songs.each do |song| %>
  <li><%= link_to song.name, song_url(song) %></li>
  <% end %>
</ul>
