<form action="<%= action_url %>" method="POST" %>
  <input type="hidden" name="_method" value="<%= http_method %>">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

<label>Name
  <input class='mytext' type="text" name="song[name]" value="<%= song.name %>">
</label>
<br><br>

<label>Band
  <select name="song[band_id]">
    <% Listener.bandList.forEach(function (band) { %>
      <option
        <% if (song.get('band_id') == band[0]) {selected} %>
        value="<%= band.id %>">
        <%= band.name %>
      </option>
    <% }) %>
  </select>
</label>
<br><br>

<label>Blog
  <select name="song[blog_id]">
    <% Blog.all.each do |blog| %>
    <option
    <%= "selected" if song.blog_id == blog.id || blog_page_id.to_i == blog.id %>
    value="<%= blog.id %>">
    <%= blog.name %>
  </option>
  <% end %>
</select>
</label>
<br><br>

  <input
    type="radio"
    name="song[song_type]"
    value="remix"
    id="remix"
    <%= "checked" if song.song_type == 'remix' %>>
  <label for="remix">Remix</label>
  <br>
  <input
    type="radio"
    name="song[song_type]"
    value="regular"
    id="regular"
    <%= "checked" if song.song_type == 'regular' %>>
  <label for="regular">Regular</label>
  <br><br>

  <label>Tags</label>
  <input type="hidden" name="song[tag_ids][]" value="">
  <% Listener.tags.each(function (tag) { %>
    <label>
      <input
      type="checkbox"
      name="song[tag_ids][]"
      value="<%= tag.id %>"
      <% if (_.contains(song.get('tag_ids'), tag.id)) {checked} %>>
    <%= tag.get('name') %>
    </label>
      <% }) %>
      <br><br>

  <input type="submit">
</form>
