<h1><%= @band.name %></h1>

<h5>Genres</h5>
<ul>
  <% @band.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<h5>Songs</h5>
<ul>
  <% @band.songs.each do |song| %>
    <li><%= link_to song.name, song_url(song) %></li>
  <% end %>
</ul>

<h4>Links</h4>
<ul>
  <li><%= link_to "Add Song", new_band_song_url(@band) %></li>
  <li><%= link_to "Edit Band", edit_band_url(@band) %></li>
  <li><%= link_to "Delete Band", band_url(@band), method: :delete, class: 'btn' %></li>
  <li><%= link_to "All bands", bands_url %></li>
</ul>
