<h1><%= @band.name %></h1>

<h5>Genre(s)</h5>
<ul>
  <% @band.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<h5>Songs</h5>
<ul>
  <% @band.songs.each do |song| %>
    <li><%= link_to song.name, song_url(song) %></li>
  <% end %>
</ul>

<h4>Links</h4>
<ul>
  <li><%= link_to "Add Song", new_band_song_url(@band) %></li>
  <li><%= link_to "Edit Band", edit_band_url(@band) %></li>
  <li><%= link_to "Delete Band", band_url(@band), method: :delete, class: 'btn' %></li>
  <li><%= link_to "All bands", bands_url %></li>
</ul>

<h4>Comments</h4>
<% @band.comments.each do |comment| %>
  <p><%= comment.author.username %>: <%= comment.body %></p>
  <% if comment.user_id == current_user.try(:id) %>
    <button class="edit-button"><a class = 'edit-link' href="#">Edit</a></button>
    <%= button_to 'Delete', comment_url(comment), method: 'delete' %>
  <% end %>

<% end %>
<%= render "shared/comments_form", commentable_id: @band.id, commentable_type: "Band" %>
