<h1>Tags</h1>

<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= tag.name %>
      <a href="<%= edit_tag_url(tag) %>">Edit</a>
      <form action="<%= tag_url(tag) %>" method="POST" class="button">
        <%= auth_token %>
        <input type ="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
      <br>
    </li>
  <% end %>
</ul>

<%= link_to "New Tag", new_tag_url %>
