<form id=new-song class='modal-form'>
  <ul id="errors"></ul>

  <label>Name
  <input class='mytext' type="text" name="song[name]" value="<%= song.escape('name') %>" class="mytext">
  </label>
  <br><br>

  <label>Band
    <select name="song[band_id]">
      <% Listener.bandList.forEach(function (band) { %>
        <option
        <% if (song.get('band_id') == band[0]) { %>
          selected
        <% } %>
        value="<%= band[0] %>">
        <%= band[1] %>
      </option>
      <% }) %>
    </select>
  </label>
  <br><br>

  <label>Blog
    <select name="song[blog_id]">
      <% Listener.blogList.forEach(function (blog) { %>
        <option
        <% if (song.get('blog_id') == blog[0]) { %>
          selected
        <% } %>
        value="<%= blog[0] %>">
        <%= blog[1] %>
      </option>
      <% }) %>
    </select>
  </label>
  <br><br>

  <label>Song Type
    <br>
    <input
      type="radio"
      name="song[song_type]"
      value="remix"
      id="remix"
      <% if (song.escape('song_type') == 'remix') { %>
        checked
      <% } %>>
    <label for="remix">Remix</label>
    <br>
    <input
      type="radio"
      name="song[song_type]"
      value="regular"
      id="regular"
      <% if (song.escape('song_type') == 'regular') { %>
        checked
      <% } %>>
      <label for="regular">Regular</label>
    <br><br>
  </label>


  <label>Genres</label>
  <br>
  <input type="hidden" name="song[tag_ids][]" value="">
    <% Listener.tags.each(function (tag) { %>
      <label>
        <input
        type="checkbox"
        name="song[tag_ids][]"
        value="<%= tag.id %>"
        <% if (_.contains(song.get('tag_ids'), tag.id)) { %>
          checked
        <% } %>>
        <%= tag.escape('name') %>
      </label>
    <% }) %>
    <br><br>

  <label>
    Audio File
    <input type="file" name="song[audio]" id="input-song-audio">
  </label>
  <br>
  <div>Or give a song url</div>
  <label>
    Audio Url
    <input class='mytext' type="text" name="song[audio_url]">
  </label>
  <br><br>

  <label>
    Album Art
    <input type="file" name="song[image]" id="input-song-image">
  </label>
  <br>
  <img src="" width="50" id="preview-song-image">
  <br>
  <div>Or give an image url</div>
  <label>
    Image Url
    <input class='mytext' type="text" name="song[image_url]">
  </label>
  <br><br>
  <input type="submit">
  <div id="loading">
</form>
