<div class="modal is-open">
  <div class="container song-container">

    <div class="form group song-form">

      <form action="javascript:void(0);" class='modal-form'>

        <section>
          <div class="modal-close js-modal-close">&times;</div>
          <section id='errors'></section>
          <p><span class="fontawesome-music"></span><input type="text" placeholder="Song Name" name="song[name]" value="<%= song.escape('name') %>"></p>

        <label>Band
          <select name="song[band_id]">
            <% Listener.bandList.forEach(function (band) { %>
              <option
              <% if (song.get('band_id') == band[0]) { %>
                selected
              <% } %>
              value="<%= band[0] %>">
              <%= band[1] %>
            </option>
            <% }) %>
          </select>
        </label>
        <br><br>

        <label>Song Type
          <br>
          <label class='multiple' for="remix">Remix</label>
          <input
            class='input-inline'
            type="radio"
            name="song[song_type]"
            value="remix"
            id="remix"
            <% if (song.escape('song_type') == 'remix') { %>
              checked
            <% } %>>
          <br>
          <label class='multiple' for="regular">Regular</label>
          <input
            class='input-inline'
            type="radio"
            name="song[song_type]"
            value="regular"
            id="regular"
            <% if (song.escape('song_type') == 'regular') { %>
              checked
            <% } %>>
          <br><br>
        </label>

        <label>Genres</label>
        <br>
        <input type="hidden" name="song[tag_ids][]" value="">
        <% Listener.tags.each(function (tag) { %>
        <label class='multiple'>
          <%= tag.escape('name') %>
          <input
            class='input-inline'
            type="checkbox"
            name="song[tag_ids][]"
            value="<%= tag.id %>"
        <% if (_.contains(song.get('tag_ids'), tag.id)) { %>
            checked
        <% } %>>

        </label>
          <% }) %>
        <br><br>



        <section class='upload-container'>
          <label>
            Audio File
            <br>
            <input type="file" name="song[audio]" id="input-song-audio">
          </label>
          <br>
          <div>Or give a song url</div>
          <label>
            Audio Url
            <br>
            <input class='upload' type="text" name="song[audio_url]">
          </label>
        </section>


          <section class='upload-container'>
          <label>
            Upload album cover art
            <br>
            <input class='upload' type="file" name="song[image]" id="input-song-image">
          </label>

          <br>

          <img src="" width="50" id="preview-song-image">

          <br>

          <label>
            Or provide an image url
            <br>
            <input class='upload' type="text" name="song[image_url]">
          </label>
          </section>


          <div id="loading"></div>


          <!-- <p><input class='submit' type="submit" value="Sign In"></p> -->
          <button class='submit modal-submit'>Add Song</button>

        </section>

      </form>
    </div>
  </div>
  <div class="modal-screen js-modal-close"></div>
</div>
