<% var bandN = song.get('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.get('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.get('name') %>
<% var songU = '#/songs/' + song.id %>

<h2>
  <a href="<%= bandU %>"><%= bandN %></a> - <a href="<%= songU %>"><%= songN %></a>
</h2>
<h4>Posted by: <a href="<%= blogU %>"><%= blogN %></a></h4>
<button class="favorite">Favorite</button>
<button class="play">Play</button>
