<% var bandN = song.escape('band_name') %>
<% var bandU = '#/bands/' + song.escape('band_id') %>
<% var blogN = song.escape('blog_name') %>
<% var blogU = '#/blogs/' + song.escape('blog_id') %>
<% var songN = song.fullName() %>
<% var songU = '#/songs/' + song.id %>
<% var favorites = Listener.currentUser.favoriteSongs() %>
<% var creatorN = song.escape('creator_name') %>
<% var creatorU = '#/users/' + song.escape('user_id') %>

<section class='top-section'>
  <a href="<%= songU %>"><img class='thumbnail list-img' src="<%= song.escape("list_image_url") %>"></a>

  <section id='song-list-controls'>
    <section class='controls-inner-container'>
      <button id="play-btn"><i class="fa fa-play"></i></button>
      <button
        class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
        <i class="fa fa-heart"></i>
      </button>
      <span
        id='favorite-count'
        class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
        <%= song.escape('favoriters_count') %>
      </span>
    </section>
  </section>

  <section class ='genres-container'>
    <label>Genre(s)</label>
    <ul class='genres-list group'>
      <% song.get('tag_names').forEach(function (tagName) { %>
        <li class='genre'><%= tagName %></li>
      <% }) %>
    </ul>
  </section>
</section>

<section class='song-list-info'>
  <h2>
    <a class='underline-link blue' href="<%= bandU %>"><%= bandN %></a> -
    <a class='underline-link blue' href="<%= songU %>"><%= songN %></a>
  </h2>
  <h4>Added <%= song.postTime() %> by <a class='underline-link blue' href="<%= creatorU %>"><strong><%= creatorN %></strong></a>
    , Playlist: <a class='underline-link blue' href="<%= blogU %>"><strong><%= blogN %></strong></a></h4>
</section>
