<% var bandN = song.get('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.get('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.get('name') %>
<% var songU = '#/songs/' + song.id %>
<% var favorites = Listener.currentUser.favoriteSongs() %>

<img src="<%= song.get("image_url") %>" width="100" alt="">
<h2>
  <a href="<%= bandU %>"><%= bandN %></a> - <a href="<%= songU %>"><%= songN %></a>
</h2>
<h4>Posted by: <a href="<%= blogU %>"><%= blogN %> </a><%= song.postTime() %></h4>

<audio src="<%= song.get('audio_url') %>" controls>
  <p>Your browser does not support the audio element </p>
</audio>

<button
  data-id= '<%= song.id %>'
  class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
</button>
<button class="play">Play</button>
