<% var bandN = song.get('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.get('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.get('name') %>
<% var songU = '#/songs/' + song.id %>
<% var favorites = Listener.currentUser.favoriteSongs() %>
<% var creatorN = song.escape('creator_name') %>
<% var creatorU = '#/users/' + song.escape('user_id') %>

<section class='list-song'>
  <a href="<%= songU %>"><img class='thumbnail' src="<%= song.get("image_url") %>"></a>
  <h2>
    <a class='underline-link blue' href="<%= bandU %>"><%= bandN %></a> -
    <a class='underline-link blue' href="<%= songU %>"><%= songN %></a>
  </h2>
  <h4>Added <%= song.postTime() %> by <a class='underline-link blue' href="<%= creatorU %>"><strong><%= creatorN %></strong></a>
    , Playlist: <a class='underline-link blue' href="<%= blogU %>"><strong><%= blogN %></strong></a></h4>

    <audio src="<%= song.get('audio_url') %>" controls>
      <p>Your browser does not support the audio element </p>
    </audio>
    <br>
    <span class='favorite-count'><%= song.get('favoriters_count') %></span>
    <button
    data-id= '<%= song.id %>'
    class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
  </button>
  <button class="play"></button>
</section>
