<% var bandN = song.escape('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.escape('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.fullName() %>
<% var songU = '#/songs/' + song.id %>
<% var songEditU = '#/songs/' + song.id + '/edit' %>
<% var favorites = Listener.currentUser.favoriteSongs() %>

<section class='song-left'>
  <img class='large-image' src="<%= song.get("image_url") %>">
  <h2>
    <a class='underline-link blue' href="<%= bandU %>"><%= bandN %></a> -
    <a class='underline-link blue' href="<%= songU %>"><%= songN %></a>
  </h2>
  <h4>Posted by: <a class='underline-link blue' href="<%= blogU %>"><%= blogN %> </a><%= song.postTime() %></h4>

  <audio src="<%= song.get('audio_url') %>" controls>
    <p>Your browser does not support the audio element </p>
  </audio>

  <br>
  <span id='favorite-count'><%= song.escape('favoriters_count') %></span>
  <button
    class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
  </button>
  <button class="play"></i></button>
  <% if (Listener.currentUser.id == song.escape('user_id')) { %>
    <section class='top-buttons'>
      <button class="edit"><a href="<%= songEditU %>">Edit Song</a></button>
    </section>
  <% } %>


  <h5>Genres</h5>
  <ul class='tags group'>
    <% song.tags().forEach(function (tag) { %>
      <li class='genre'><%= tag.escape('name') %></li>
    <% }) %>
  </ul>
</section>
<section class='song-right'>
  <section class='comments-window song-comments'>
    <h5>Comments</h5>
    <div id="comment-form"></div>
    <ul id="comments"></ul>
  </section>
</section>
