<% var bandN = song.get('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.get('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.get('name') %>
<% var songU = '#/songs/' + song.id %>
<% var songEditU = '#/songs/' + song.id + '/edit' %>

<button class="edit"><a href="<%= songEditU %>">Edit Song</a></button>
<h2>
  <a href="<%= bandU %>"><%= bandN %></a> - <a href="<%= songU %>"><%= songN %></a>
</h2>
<h4>Posted by: <a href="<%= blogU %>"><%= blogN %></a></h4>
<button class="favorite">Favorite</button>
<button class="play">Play</button>


<h5>Genres</h5>
<ul class='tags'>
  <% song.tags().forEach(function (tag) { %>
    <li><%= tag.get('name') %></li>
    <% }) %>
  </ul>

  <h5>Comments</h5>
  <section class='comments-window'>
    <div id="comment-form"></div>
    <ul id="comments"></ul>
  </section>
