<% var bandN = song.escape('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.escape('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.fullName() %>
<% var songU = '#/songs/' + song.id %>
<% var songEditU = '#/songs/' + song.id + '/edit' %>
<% var favorites = Listener.currentUser.favoriteSongs() %>
<% var creatorN = song.escape('creator_name') %>
<% var creatorU = '#/users/' + song.escape('user_id') %>

<section class='song-left'>
  <section class='song-top group'>
    <img class='large-image show-img' src="<%= song.escape("large_image_url") %>">

    <section id='song-list-controls'>
      <span
        id='favorite-count'
        class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
        <%= song.escape('favoriters_count') %>
      </span>
      <button
        class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
        <i class="fa fa-heart"></i>
      </button>
      <button id="play-btn"><i class="fa fa-play"></i></button>
    </section>
  </section>

  <h2>
    <a class='underline-link blue' href="<%= bandU %>"><%= bandN %></a> -
    <a class='underline-link blue' href="<%= songU %>"><%= songN %></a>
  </h2>
  <h4>Added <%= song.postTime() %> by <a class='underline-link blue' href="<%= creatorU %>"><strong><%= creatorN %></strong></a>
  <br>
  Blog: <a class='underline-link blue' href="<%= blogU %>"><strong><%= blogN %></strong></a></h4>

  <% if (Listener.currentUser.id == song.escape('user_id')) { %>
    <section class='top-buttons'>
      <button class="edit"><a href="<%= songEditU %>">Edit Song</a></button>
    </section>
  <% } %>

  <h5>Genre(s)</h5>
  <ul class='tags group'>
    <% song.tags().forEach(function (tag) { %>
      <li class='genre'><%= tag.escape('name') %></li>
    <% }) %>
  </ul>
</section>

<section class='song-right'>
  <section class='comments-window song-comments'>
    <h5>Comments</h5>
    <div id="comment-form"></div>
    <ul id="comments"></ul>
  </section>
</section>
