<% var bandN = song.get('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.get('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.fullName() %>
<% var songU = '#/songs/' + song.id %>
<% var songEditU = '#/songs/' + song.id + '/edit' %>
<% var favorites = Listener.currentUser.favoriteSongs() %>

<img src="<%= song.get("image_url") %>" width="100" alt="">
<h2>
  <a href="<%= bandU %>"><%= bandN %></a> -
  <a href="<%= songU %>"><%= songN %></a>
</h2>
<h4>Posted by: <a href="<%= blogU %>"><%= blogN %> </a><%= song.postTime() %></h4>

<audio src="<%= song.get('audio_url') %>" controls>
  <p>Your browser does not support the audio element </p>
</audio>

<br>

<button
  data-id= '<%= song.id %>'
  class="favorite <%= _.contains(favorites.pluck('id'), song.id) ? 'unfavorite' : "" %>">
</button>
<button class="play"></i></button>
<br><br>
<button class="edit"><a href="<%= songEditU %>">Edit Song</a></button>


<h5>Genres</h5>
<ul class='tags'>
  <% song.tags().forEach(function (tag) { %>
    <li><%= tag.get('name') %></li>
    <% }) %>
  </ul>

  <h5>Comments</h5>
  <section class='comments-window'>
    <div id="comment-form"></div>
    <ul id="comments"></ul>
  </section>
