<% var bandN = song.get('band_name') %>
<% var bandU = '#/bands/' + song.get('band_id') %>
<% var blogN = song.get('blog_name') %>
<% var blogU = '#/blogs/' + song.get('blog_id') %>
<% var songN = song.fullName() %>
<% var songU = '#/songs/' + song.id %>
<% var songEditU = '#/songs/' + song.id + '/edit' %>
<% var favorites = Listener.currentUser.favorite_songs() %>

<button class="edit"><a href="<%= songEditU %>">Edit Song</a></button>
<h2>
  <a href="<%= bandU %>"><%= bandN %></a> -
  <a href="<%= songU %>"><%= songN %></a>
</h2>
<h4>Posted by: <a href="<%= blogU %>"><%= blogN %></a></h4>

<% if (_.contains(favorites.pluck('id'), song.id)) { %>
  <button class="unfavorite"><i class="fa fa-scissors"></i></button>
<% } else { %>
  <button class="favorite"><i class="fa fa-star"></i></button>
<% } %>

<button class="play"><i class="fa fa-play"></i></button>


<h5>Genres</h5>
<ul class='tags'>
  <% song.tags().forEach(function (tag) { %>
    <li><%= tag.get('name') %></li>
    <% }) %>
  </ul>

  <h5>Comments</h5>
  <section class='comments-window'>
    <div id="comment-form"></div>
    <ul id="comments"></ul>
  </section>
