<% var follows = Listener.currentUser.followedBlogs() %>
<% var blogN = blog.escape('name') %>
<% var blogU = '#/blogs/' + blog.id %>
<% var creatorN = blog.escape('creator_name') %>
<% var creatorU = '#/users/' + blog.escape('user_id') %>

<h2>
  <a class='underline-link blue' href="<%= blogU %>"><%= blogN %></a>
</h2>
<h4>Created by: <a class='underline-link blue' href="<%= creatorU %>"><strong><%= creatorN %></strong></a>
  <%= blog.postTime() %></h4>
<br>
<label class='blog-list'>Genres</label>
<ul class='genres-list group'>
  <% blog.get('tag_names').forEach(function (tagName) { %>
    <li class='genre'><%= tagName %></li>
  <% }) %>
</ul>

<span class="small-blog-songs"><%= blog.get('song_count') + ' Songs' %></span>
<button
  data-id= '<%= blog.id %>'
  class="small-follow blog-follow <%= _.contains(follows.pluck('id'), blog.id) ? 'blog-unfollow' : "" %>">
</button>
