<% var follows = Listener.currentUser.followedBlogs() %>
<% var blogN = blog.get('name') %>
<% var blogU = '#/blogs/' + blog.id %>

<h2>
  <a class='underline-link' href="<%= blogU %>"><%= blogN %></a>
</h2>

<label class='blog-list'>Genres</label>
<ul class='genres'>
  <% blog.get('tag_names').forEach(function (tagName) { %>
    <li><%= tagName %></li>
  <% }) %>
</ul>

<button class="blog-songs"><%= blog.get('song_count') + ' Songs' %></button>
<button
  data-id= '<%= blog.id %>'
  class="small-follow blog-follow <%= _.contains(follows.pluck('id'), blog.id) ? 'blog-unfollow' : "" %>">
</button>
