<% var follows = Listener.currentUser.followed_blogs() %>

<button class="edit"><a href="#/blogs/<%= blog.id %>/edit">Edit Blog</a></button>
<h1><%= blog.get('name') %></h1>
<h4><a href="<%= blog.get('url') %>"><%= blog.get('url') %></a></h4>

<% if (_.contains(follows.pluck('id'), blog.id)) { %>
  <button class="unfollow">
    <i class="fa fa-plus-square"></i> Unfollow
  </button>
  <% } else { %>
    <button class="follow">
      <i class="fa fa-minus-square"></i> Follow
    </button>
<% } %>

<h5>Genres</h5>
<ul class='tags'>
  <% blog.tags().forEach(function (tag) { %>
    <li><%= tag.get('name') %></li>
  <% }) %>
</ul>

<h5>Songs</h5>
<section class='songs-window'>
  <div id="song-form"></div>
  <ul id="songs"></ul>
</section>

<h5>Comments</h5>
<section class='comments-window'>
  <div id="comment-form"></div>
  <ul id="comments"></ul>
</section>
