<% var follows = Listener.currentUser.followedBlogs() %>

<section class=sidebar>
  <button class="edit"><a href="#/blogs/<%= blog.id %>/edit">Edit Blog</a></button>
  <h1><%= blog.get('name') %></h1>
  <h4><a href="<%= blog.get('url') %>"><%= blog.get('url') %></a></h4>

  <button
  data-id= '<%= blog.id %>'
  class="big-follow blog-follow <%= _.contains(follows.pluck('id'), blog.id) ? 'blog-unfollow' : "" %>">
  </button>

  <h5>Genres</h5>
  <ul class='tags group'>
    <% blog.tags().forEach(function (tag) { %>
      <li class='genre'><%= tag.get('name') %></li>
    <% }) %>
  </ul>

  <h5>Comments</h5>
  <section class='comments-window'>
    <div id="comment-form"></div>
    <ul id="comments"></ul>
  </section>
</section>

<section class='main'>
  <header class='main-title-header'>
    <h2 class='main-title'>Songs</h2>
  </header>
  <section class='songs-window'>
    <div id="song-form"></div>
    <ul id="songs"></ul>
  </section>
</section>
