<h1><%= @blog.name %></h1>
<h4><a href="<%= @blog.url %>"><%= @blog.url %></a></h4>

<% if @blog.followers.pluck(:id).include?(current_user.try(:id)) %>
  <%= button_to "Unfollow", user_blog_url(@blog), method: 'delete' %>
<% else %>
  <%= button_to "Follow", user_blogs_url, params: {blog_id: @blog} %>
<% end %>

<h5>Genres</h5>
<ul>
  <% @blog.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>

<h5>Songs</h5>
<ul>
  <% @blog.songs.each do |song| %>
  <li><%= link_to song.name, song_url(song) %></li>
  <% end %>
</ul>

<h4>Links</h4>
<ul>
  <li><%= link_to "Add Song", new_blog_song_url(@blog) %></li>
  <li><%= link_to "Edit Blog", edit_blog_url(@blog) %></li>
  <li><%= link_to "Delete Blog", blog_url(@blog), method: :delete, class: 'btn' %></li>
  <li><%= link_to "All blogs", blogs_url %></li>
</ul>

<h4>Comments</h4>
<% @blog.comments.each do |comment| %>
  <p><%= comment.author.username %>: <%= comment.body %></p>
  <% if comment.user_id == current_user.try(:id) %>
    <button class="edit-button"><a class = 'edit-link' href="#">Edit</a></button>
    <%= button_to 'Delete', comment_url(comment), method: 'delete' %>
  <% end %>

<% end %>
<%= render "shared/comments_form", commentable_id: @blog.id, commentable_type: "Blog" %>
