<!DOCTYPE html>
<html>
<head>
  <title>Listener</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<ol class="joyRideTipContent">
  <li>Welcome Message</li>

  <!-- /* This tip will be display as a modal */
  <li>Tip content...</li> -->

  <!-- <li data-class="tour2" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">
    2nd tour pane
  </li>

  <li data-class="tour3">Third tour pane</li> -->
</ol>
<script>
$(window).load(function() {
  $(".joyRideTipContent").joyride({
    autoStart: true
  });
});
</script>
</body>
</html>
