<!DOCTYPE html>
<html>
<head>
  <title>Listener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    User: <%= current_user.username %>
    <form action="<%= session_url %>" method="POST">
      <%= auth_token %>
      <input type ="hidden" name="_method" value="DELETE">
      <input type="submit" value="Log out">
    </form>
  <% else %>
    <a href="<%= new_session_url %>">Log In</a>
    <a href="<%= new_users_url %>">Sign Up</a>
  <% end %>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

<%= yield %>

</body>
</html>
